.container{
    width: 50%;
    margin: auto;
    margin-top: 4%;
}

mat-card-header{
    background: #12121212;
    padding: 5px;
    color:black;
  }
  
  mat-card-content{
    padding: 10px;
  }
  
  mat-card{
    padding:0;
  }